extends ./layout
block content
    div.container
        h1=message
        p Litrides is a Bitcoin Lightning powered rideshare platform
        div
            h2 Submit Lightning Payments
            form(method='post', action='/invoice')
                h4 Available Rides
                p
                    input(type="radio", name="product", value='{"name": "2018 Audi A5", "price": 0.01}')
                    label 2018 Audi A5 - $0.01
                p
                    input(type="radio", name="product", value='{"name": "2016 Chevrolet Volt5", "price": 0.01}')
                    label 2016 Chevrolet Volt5 - $0.01
                p
                    input(type="radio", name="product", value='{"name": "2016 Volkswagen e-Golf", "price": 0.01}')
                    label 2016 Volkswagen e-Golf - $0.01
                p
                    input(type="radio", name="product", value='{"name": "2016 Tesla Model S", "price": 0.01}')
                    label 2016 Tesla Model S - $0.01

                h2 Customer Information
                p
                    input(type="email", name="email", placeholder="Email Address")
                p
                    input(type="text", name="name", placeholder="Full Name")
                p
                    input(type="text", name="address", placeholder="Mailing Address")
                p
                    input(type="text", name="city", placeholder="City")
                p
                    input(type="text", name="zipcode", placeholder="Zip Code") 
                p
                    input(type="text", name="country", placeholder="Country")
            
                p
                    input(type="submit", class="btn btn-primary", name="Reserve Car")