extends ./layout
block content
    div.container
        div
            table
                thead
                    tr
                        th Vehicle ID
                        th Vehicle Make
                        th Vehicle Model
                        th Vehicle Year
                            tbody
                                tr 
                                    th #{info.id}
                                    th #{info.make}
                                    th #{info.model}
                                    th #{info.year} 