extends ./layout
block content
    div.container
        div.content
            div
                table
                    thead
                        tr
                            th Vehicle Make
                            th Vehicle Model
                            th Vehicle Year
                                tbody
                                    tr 
                                        th #{info.make}
                                        th #{info.model}
                                        th #{info.year} 